body {
    font-family: Arial, Helvetica, sans-serif;
}

.canvas {
    width: 320px;
    height: 320px;
    border: 2px solid #ccc;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#background,
#foreground {
    position: absolute;
}

